.DS_Store
DerivedData
DPCustomTabBarController.xcodeproj/xcuserdata/*
DPCustomTabBarController.xcodeproj/project.xcworkspace/xcuserdata/*
Example/DPCustomTabBarController.xcodeproj/xcuserdata/*
Example/DPCustomTabBarController.xcworkspace/xcuserdata/
Example/Pods/Pods.xcodeproj/xcuserdata/